.header{
    display:flex;
    justify-content:space-between;
    border: 1px solid black
}

.logo{
    width: 300px;
}

.nav-items{
    padding: 0px 20px;
}

.nav-items > ul{
    font-size: 22px;
    display: flex;
    list-style-type: none;    
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.restaurantContainer {
 padding: 10px;
 display: flex;
 flex-wrap: wrap;
}

.restaurantCard{
    margin: 5px;
    padding: 5px;
    width: 200px;   
    border: 1px solid black;    
}

.restaurantCard:hover{
    cursor: pointer;    
}

.search{
    padding: 10px;
}

.resLogo{
    width: 100%;
    height: 45%;
}